n8n-workflows/wf3-generate-article.json
{
  "name": "Ordus Support — 3. Gerar Artigo via Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ordus-generate-article",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Generate Article Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ordus-generate-article"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Gerando artigo...",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Respond Generating",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"claude-opus-4-7\", \"max_tokens\": 4096, \"messages\": [{\"role\": \"user\", \"content\": \"Crie um artigo de suporte completo em PT-BR para o Ordus System (plataforma de CRM e automação de marketing) sobre: \" + $json.body.topic + \".\\n\\nFormato MDX com frontmatter obrigatório:\\n---\\ntitle: \\\"[titulo]\\\"\\ndescription: \\\"[150 chars max]\\\"\\nkeywords: [array de 5-8 keywords]\\ncategory: \\\"[Nome da Categoria]\\\"\\ncategorySlug: \\\"[slug-da-categoria]\\\"\\nghlReference: \\\"[url de referencia GHL se fornecida ou deixe vazio]\\\"\\nlastUpdated: \\\"\" + new Date().toISOString().split('T')[0] + \"\\\"\\npriority: 1\\n---\\n\\nEstrutura do artigo:\\n1. Introdução (2 parágrafos)\\n2. Passo a passo numerado (mínimo 5 passos)\\n3. ## Perguntas Frequentes (FAQ) com 3+ perguntas\\n4. ## Próximos Passos (3 links relacionados)\\n\\nIMPORTANTE: Nunca mencione GoHighLevel, HighLevel ou GHL no texto — use sempre Ordus System.\"}]}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Claude Gera Artigo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content[0].text;\n\n// Extract title for slug\nconst titleMatch = content.match(/title:\\s*['\"]?([^'\"\\n]+)['\"]?/);\nconst categoryMatch = content.match(/categorySlug:\\s*['\"]?([\\w-]+)['\"]?/);\n\nconst rawTitle = titleMatch ? titleMatch[1].trim() : 'artigo-novo';\nconst category = categoryMatch ? categoryMatch[1].trim() : 'primeiros-passos';\n\nconst slug = rawTitle\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 60);\n\nconst encoded = Buffer.from(content).toString('base64');\n\nreturn [{\n  json: {\n    content,\n    encoded,\n    filename: `content/${category}/${slug}.mdx`,\n    slug,\n    category\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Format MDX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ordusdigital/ordus-support/contents/{{ $json.filename }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": \"feat: add article \" + $json.slug + \" [n8n auto]\", \"content\": \"\" + $json.encoded + \"\", \"branch\": \"main\"}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.launchpro.digital/message/sendText/geseth1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0b79f2a0d094d99dce1be72cc7ea1617"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"5519997052849\", \"text\": \"📝 *Artigo Criado!*\\n\\nArquivo: \" + $json.filename + \"\\n\\nDeploy automático iniciado. Portal atualizado em ~2min.\\n🔗 https://suporte.ordussystem.com.br\"}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Notify Article Created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        420
      ]
    }
  ],
  "connections": {
    "Generate Article Webhook": {
      "main": [
        [
          {
            "node": "Respond Generating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude Gera Artigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Gera Artigo": {
      "main": [
        [
          {
            "node": "Format MDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format MDX": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to GitHub": {
      "main": [
        [
          {
            "node": "Notify Article Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "OrdusSupWF003"
}